<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.product.dao.ProductMapper">
	<!-- 총 레코드 수 -->
	<select id="selectRowCount" resultType="integer">
		SELECT
		   COUNT(*)
		FROM product p
		JOIN member m
		ON p.mem_num = m.mem_num
	</select>
	<!-- 상품 목록 -->
	<select id="selectList" parameterType="map"
	                                   resultType="productVO">
		SELECT
		   *
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM(SELECT
		      		  p.pro_num,
		      		  p.mem_num,
		              p.pro_title,
		              p.pro_date
		           FROM product p
		           JOIN member m
		           ON p.mem_num=m.mem_num
		           ORDER BY m.mem_num DESC)a)
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
	</select>
	<!-- 글 수정 -->
	 <update id="updateProduct" parameterType="productVO">
		UPDATE product SET
			<!-- <if test="filename != ''">
			uploadfile=#{uploadfile},
			filename=#{filename},
			</if>  -->	
			pro_title=#{pro_title},
			pro_tag=#{pro_tag},
			pro_price=#{pro_price},
			pro_content=#{pro_content},
			pro_status=#{pro_status},
			pro_buy=#{pro_buy}
			<!-- modify_date=SYSDATE  -->
		WHERE pro_num=#{pro_num}
	</update>  
</mapper>







