<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.product.dao.ProductMapper">
	<!-- 총 레코드 수 -->
	<select id="selectRowCount" resultType="integer">
		SELECT
		   COUNT(*)
		FROM product p
		JOIN member m
		ON p.mem_num = m.mem_num
		<where>
			<if test="keyword != ''">
			p.pro_title LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	<!-- 상품 목록 -->
	<select id="selectList" parameterType="map"
	                                   resultType="productVO">
		SELECT
		   *
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM(SELECT
		      		  p.pro_num,
		      		  p.pro_price,
		      		  p.mem_num,
		              p.pro_title,
		              p.pro_date,
		              p.pro_uploadfile1,
		              p.pro_filename1,
		              p.pro_uploadfile2,
		              p.pro_filename2,
		              p.pro_uploadfile3,
		              p.pro_filename3,
		              m.mem_id
		           FROM product p
		           JOIN member m
		           ON p.mem_num=m.mem_num
		           <where>
						<if test="keyword != ''">
						p.pro_title LIKE '%' || #{keyword} || '%'
						</if>
					</where>
		           ORDER BY p.pro_num DESC)a)
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
	</select>
	<!-- 판매자 정보 처리 -->
	<!-- 총 레코드 수 -->
	<select id="selectSellerRowCount" parameterType="map" resultType="integer">
		SELECT
		   COUNT(*)
		FROM product p 
		WHERE mem_num = #{user_num}
	</select>
	<!-- 상품 목록 -->
	<select id="selectSellerList" parameterType="map"
	                                   resultType="productVO">
		SELECT
		   *
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM(SELECT
		      		 *
		           FROM product p
		           WHERE mem_num = #{user_num}
		           ORDER BY p.pro_num DESC)a)
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
	</select>
	
	
	<!-- 글 수정 -->
	 <update id="updateProduct" parameterType="productVO">
		UPDATE product SET
			<if test="pro_filename1 != ''">
			pro_uploadfile1=#{pro_uploadfile1},
			pro_filename1=#{pro_filename1},
			</if>
			<if test="pro_filename2 != ''">
			pro_uploadfile2=#{pro_uploadfile2},
			pro_filename2=#{pro_filename2},
			</if>	
			<if test="pro_filename3 != ''">
			pro_uploadfile3=#{pro_uploadfile3},
			pro_filename3=#{pro_filename3},
			</if>		
			pro_title=#{pro_title},
			pro_tag=#{pro_tag},
			pro_price=#{pro_price},
			pro_content=#{pro_content},
			pro_status=#{pro_status},
			pro_buy=#{pro_buy}
			<!-- modify_date=SYSDATE  -->
		WHERE pro_num=#{pro_num}
	</update> 
	
	<!-- 댓글 모록  -->
	<select id="selectListReply" parameterType="map"
 	                     resultType="productReplyVO">
 		SELECT
 		   *
 		FROM (SELECT 
 		        m.*, 
 		        rownum rnum 
 		      FROM (SELECT 
                      *
                    FROM (SELECT 
                            rep_num,
 		                    rep_content,
 		                    TO_CHAR(rep_date,'YYYY-MM-DD HH24:MI:SS') rep_date,
 		                    pro_num,
 		                    mem_num
                          FROM product_reply where pro_num=#{pro_num}) r 
                               JOIN member m
                               ON r.mem_num = m.mem_num
                               ORDER BY rep_num DESC)m)
                              
 		<![CDATA[
 		WHERE rnum >= #{start} AND rnum <= #{end}
 		]]>                                 
 	</select>
	
	 
</mapper>







